USE [master]
GO
/****** Object:  Database [VinhKhanhFoodDB]    Script Date: 26/03/2026 10:53:29 CH ******/
CREATE DATABASE [VinhKhanhFoodDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VinhKhanhFoodDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VinhKhanhFoodDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VinhKhanhFoodDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\VinhKhanhFoodDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VinhKhanhFoodDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VinhKhanhFoodDB]
GO
/****** Object:  Table [dbo].[FoodLocations]    Script Date: 26/03/2026 10:53:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodLocations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Latitude] [float] NOT NULL,
	[Longitude] [float] NOT NULL,
	[AudioUrl] [nvarchar](500) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FoodLocations] ON 

INSERT [dbo].[FoodLocations] ([Id], [Name], [Latitude], [Longitude], [AudioUrl], [Description], [ImageUrl]) VALUES (1, N'Ốc Oanh', 10.7601, 106.7042, NULL, N'Quán ốc Vĩnh khánh', N'oc_oanh.jpg')
INSERT [dbo].[FoodLocations] ([Id], [Name], [Latitude], [Longitude], [AudioUrl], [Description], [ImageUrl]) VALUES (2, N'Ốc Đào', 10.7605, 106.7045, NULL, N'Quán ốc đào tươi ngon', N'oc_dao.jpg')
INSERT [dbo].[FoodLocations] ([Id], [Name], [Latitude], [Longitude], [AudioUrl], [Description], [ImageUrl]) VALUES (3, N'Ốc Vũ', 10.75985, 106.70495, NULL, N'Quán ốc Vũ tươi ngon', N'oc_vu.jpg')
SET IDENTITY_INSERT [dbo].[FoodLocations] OFF
GO
USE [master]
GO
